*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:#F2F2F2;
}

/* Global Classes ---------- */

.lite-black{
    color:rgba(0, 0, 0, 0.682);
}
.margin-t{
    margin-top:0;
}
.margin-b{
    margin-bottom:0;
}
.thick{
    font-weight: 500;
    color:rgba(0, 0, 0, 0.739);
}

.transparent-btn{
    background: white;
    color:#4F4F4F;
    border:1px solid #4F4F4F;
    padding:6px 16px;
    border-radius: 12px;
    font-size:15px;
}
.blue-btn{
    background:#2F80ED;
    color:white;
    padding:8px 16px;
    border:none;
    border-radius: 12px;
    font-size:15px;
}


/* Main Section Styles --------- */

main{
    width:1046px;
    margin:30px auto;
    display: grid;
    grid-template-columns: 415px 596px;
    grid-template-rows: 210px 260px 180px 180px;
    gap:23px;
}
main > div{
    background-color: white;
    padding:15px;
    border-radius: 5px;
}
.header{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:23px;
    
}
.man-logo{
    width:200px;
    height: 180px;
    background: url("assets/man-logo.png");
    background-size:cover;
    border-radius: 7px;
}
.man-info{
    display: flex;
    justify-content: space-between;
}
.man-info .front-end{
    margin:0;
}
.man-info .name{
    margin-bottom:3px;
}


/* Progress Bar Div styles -------- */

.progress-bar .skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill p{
    margin-bottom:0;
}
.skill progress{
    width:240px;
    height: 12px;
}

/* 
Blog section Styles --------- */

.blog{
    grid-row: span 2;
}

.blog div{
    display: flex;
    justify-content: space-between;
}
.blog div img{
    width:240px;
    border-radius: 7px;
}
.blog h2{
    font-weight: 500;
    color:rgba(0, 0, 0, 0.79);
}
.blog h4{
    font-weight: 500;
    color:rgba(0, 0, 0, 0.203);
}
.blog p{
    color:rgba(0, 0, 0, 0.692);
}
.blog span{
    color:rgba(37, 37, 232, 0.848);
}


/* Hobby Part Styles ---------- */


.hobby-part{
    grid-row: span 14;
}
.hobby-part .hobby-card img{
    width:100%;
    border-radius: 7px;
}
.hobby-card h4{
    margin-bottom:8px;
    margin-top:12px;
}
.hobby-card p{
    margin-top:0;
    margin-bottom:28px;
}

/* Experiences Section styles ========== */

.experience{
    grid-row:span 13;
}
.experience .exp-card img{
    width:24%;
}
.experience .exp-card{
    display: flex;
    gap:20px;
}
.exp-card time{
    color:rgba(0, 0, 0, 0.478);
    font-size: 14px;
}
.exp-card h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgba(0, 0, 0, 0.654);
}
.exp-card p{
    color:rgba(0, 0, 0, 0.571);
}
.card1{
    margin-bottom:35px;
}


/* Projects styles =========== */


.projects{
    grid-column: span 2;
    grid-row: span 5;
}
.projects button{
    margin-right:8px;
}




/* REsponsive Styles ==============

Mobile Devices ======= */


@media screen and (max-width:576px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 165px;
        width: 100%;
        gap:14px;
        margin:0 auto;
    }
    main > div{
        padding:8px;
        border-radius: 5px;
    }
    .header{
        grid-column: span 1;
        gap:8px;
        font-size: 0.7rem;
        
    }
    .man-logo{
        width:195px;
        height: 78px;
    }
    .progress-bar{
        font-size: 0.8em;
    }
    .skill progress{
        width:200px;
        height: 9px;
        margin-right: 40px;
    }

    .blog{
        font-size: 0.8rem;
    }
    .blog div img{
        width:55%;
        border-radius: 7px;
    }

    .hobby-part{
        font-size: 0.8rem;
    }
    .hobby-part .hobby-card img{
        width:30%;
        border-radius: 7px;
    }
    .projects{
        grid-column: span 1;
    }
   
}